<script type="text/javascript">
	
	function askForHint() {

	}

</script>

<body>
	<div class="zone" id="zone">
		<% if @current_game.player1_id == session[:current_user_id] %>
		
		<div id="p1">
			<h1>Player 1 asks</h1>
			<h2><%= @current_game.curr_word %></h2>
			<h4>You said:</h4>
			<p><%= @current_game.hint %></p>
			<% if @current_game.turn == 1 %>
				<ul>
					<li id="friend"><a>Enter hint</a></li>
					<li id="friend"><a>No more hints!</a></li>
				</ul>
			<% else %>
				<h5>Not your turn!</h5>
			<% end %>
		</div>
			
		<% elsif @current_game.player2_id == session[:current_user_id] %>
		
		<div id="p2">
			<h1>Player 2 answers</h1>
			<h4>Hints given:</h4>
			<p><%= @current_game.hint %></p>
			<% if @current_game.turn == 2 %>
				<ul>
					<li id="friend"><a>Guess word</a></li>
					<li id="friend"><a onclick="askForHint()">3arosty!</a></li>
				</ul>
			<% else %>
				<h5>Not your turn!</h5>
			<% end %>
		</div>
			
		<% end %>
	</div>
</body>