<body>
	<div class="zone" id="zone">
	<h1>Hello, <%= @current_user.name %></h1>
	<img src="<%= session[:img] %>">
	<h2>Score: <%= @current_user.score %></h2>
	<div class="nav-bar">
		<ul>
  			<li><a>Home</a></li>
  			<li><a href="">Play!</a></li>
  			<li><a href="">Challenge</a></li>
  			<li><a href="">Rank</a></li>
  			<li><a>Requests</a></li>
  			<li><a href="">Leave 3arosty</a></li>
		</ul>
	</div>
	<h4>Choose a request:</h4>
		  <% if !@req_online.blank? %>
		  	<% for f in @req_online %>
		  		<ul>
		  			<li id="friend"><a><%= f.word %></a></li>
		  		</ul>
		  	<% end %>
		  <% else %>
		  	<p>No requests</p>
		  <% end %>
	</div>
</body>