<body>
	<div class="zone" id="zone">
	<h1>Hello, <%= @current_user.name %></h1>
	<img src="<%= session[:img] %>">
	<h2>Score: <%= @current_user.score %></h2>
	<div class="nav-bar">
		<ul>
  			<li><a>Home</a></li>
  			<li><a href="/game/game">Play!</a></li>
  			<li><a href="">Rank</a></li>
  			<li><a href="/game/requests">Requests</a></li>
  			<li><a href="">Leave 3arosty</a></li>
		</ul>
	</div>	
	</div>
</body>