<div class="panel panel-default" id= "online-friends">
  <div class="panel-body">
    <h2 id="online">Choose a request:</h2>
    <% if !@req_online.blank? %>
        <div class="row" id="picture-row">
          <% for f in @req_online %>
            <div class="col-xs-6 col-md-3">
              <%= link_to("Start Game", {controller: "games", action: "start_game", request_id: f['id']}, :class=>'thumbnail') %>
              <%= link_to("x", {controller: "games", action: "delete_request", request_id: f.id})%>
                <img class="media-object" id= "online_image" src="<%= (User.find_by_id(f['sender_id'])).image %>">
                <h3> Game Hint: <%= f.hint %></h3>
            </div>
          <% end %>
        </div>
    <% else %>
      <h2 id="online">You have no pending requests.</h2>
    <% end %>
  </div>
</div>
